*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'GermaniaOne';
    src: url('./fuentes/GermaniaOne-Regular.ttf');
}

body {
    background-color: rgb(203, 206, 168);
    font-family: sans-serif;
}

a {
    color: rgb(255, 128, 0);
    text-decoration: none;
}

ul {
    list-style: none;
}

.encabezado-principal {
    background-color: rgb(71, 36, 0);
    padding: 10px;
}

.encabezado-principal h1 {
    font-family: 'GermaniaOne', cursive;
    color: rgb(255, 255, 255);
    text-align: center;
}

.encabezado-principal nav a {
    margin-right: 15px;
}


.contenido-principal {
    padding: 20px;
}

.contenido-principal h2 {
    margin-bottom: 10px;
}

.pie-pagina {
    background-color: rgb(71, 36, 0);
    padding: 10px;
    color: rgb(255, 255, 255);
}

.pie-pagina ul {
    display: flex;
    gap: 15px;
}